@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #fff;
    text-decoration: none;

}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 600;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    padding: 0 2rem;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 50px;
}


nav a{
    position: relative;
}

nav a::after {
    content: " ";
    width: 0%;
    height: 0.1rem;

    background-color: #fff;

    position: absolute;
    bottom: 0;
    left: 0;

    transition: 0.5s ease-in-out;
}

nav a:hover::after {
    width: 100%;
    background-color: #fff;
}
