<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <title>WaveHub</title>
</head>
<body>
    <header>
        <nav>
            <a class="logo" href="/">WaveHub</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                {% if request.cookies.get('access_token') %}
                <li><a href="/landpage">Início</a></li>
                <li><a href="/logout">Logout</a></li>
                {% else %}
                <li><a href="/login">Login</a></li>
                <li><a href="/cadastro">Cadastre-se</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero">
            <h1 class="typing-text">
                Transformando dados em decisões inteligentes.
            </h1>
            <p class="hero-subtitle">
                Dashboards, automações, KPIs e monitoramento em tempo real.
            </p>
        </section>
    </main>
    <script src="\static\js\index.js"></script>
</body>
</html>