<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WaveHub</title>
    <link rel="stylesheet" href="/static/css/landpage.css">
</head>
<body>

    <header>
        <nav>
            <a class="logo" href="/">WaveHub</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="#">Bot's</a></li>
                <li><a href="#">RPA's</a></li>
                <li><a href="/#">Perfil</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="carousel">
            <div class="card card1">
                <h3>CD 1200</h3>
                <div class="'card-info">
                    <p>Demanda:</p>
                    <p>Pessoas:</p>
                    <p>Finalizado:</p>
                </div>
            </div>

            <div class="card card2">
                <h3>Abastecimento</h3>
                <div class="'card-info">
                    <p>Demanda:</p>
                    <p>Pessoas:</p>
                    <p>Finalizado:</p>
                </div>
            </div>

            <div class="card card3">
                <h3>Online</h3>
                <div class="'card-info">
                    <p>Demanda:</p>
                    <p>Pessoas:</p>
                    <p>Finalizado:</p>
                </div>
            </div>

            <div class="card card4">
                <h3>Pesados</h3>
                <div class="'card-info">
                    <p>Demanda:</p>
                    <p>Pessoas:</p>
                    <p>Finalizado:</p>
                </div>
            </div>

            <div class="card card5">
                <h3>Par</h3>
                <div class="'card-info">
                    <p>Demanda:</p>
                    <p>Pessoas:</p>
                    <p>Finalizado:</p>
                </div>
            </div>
        </div>
    </main>
    
</body>
</html>